// .card {}
// .card__link-img {}
// .card__img {}
// .card__link {}
// .card__title {}
// .card__info {}
// .card__info-wrapper {}
// .card__info-title {}
// .card__info-description {}
// .card__info-description--last {}
// .card__button {}
