.card {
  &--last {
    position: relative;
    padding-top: 80px;
  }

  &--last::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/plus.svg");
    width: 30px;
    height: 30px;
    top: 40px;
    left: 50%;
  }
}
// .card__link-img {}
// .card__img {}
.card__link {
  text-decoration: none;
}

.card__title {
  @include font-custom($font-secondary, 16px, 400, 20px, $text-color-card-title);
  text-transform: uppercase;
}

.card__info {
  font-size: 12px;
  line-height: 16px;
}
// .card__info-wrapper {}
// .card__info-title {}
.card__info-description {
  font-size: 12px;
  line-height: 16px;
}
// .card__info-description--last {}
.card__button {
  padding: 10px 110px;
}
