// .contacts {}
.contacts__title {
  @include font-custom($font-secondary, 16px, 400, 20px, $text-color-secondary);
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
}
// .contacts__map {}
// .contacts__map-img {}
