// .contacts {}
.contacts__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contacts__title {
  @include font-custom($font-secondary, 16px, 400, 20px, $text-color-secondary);
  text-transform: uppercase;
  max-width: 170px;
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
  max-width: 160px;
}
// .contacts__map {}
.contacts__map-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 365px;
}
