.example {
  background-color: #eaeaea;
  padding: 0 20px;
}

.example__title {
  @include font-custom($font-secondary, 36px, 400, 40px, $text-color-secondary);
}
// .example__description {}
// .example__list {}
.example__cost {
  @include font-custom($font-secondary, 14px, 400, 20px, $text-color-secondary);
  text-transform: uppercase;
}
// .example__cost-description {}
// .example__cost-value {}
// .example__slider {}
