.gift {
  background-image:
    linear-gradient(rgba($bg-color-basic, 0.85)),
    image-set(url("../../images/gift/gift-background-mobile@1x.webp") 1x type("image/webp"),
    url("../../images/gift/gift-background-mobile@2x.webp") 2x type("image/webp"),
    url("../../images/gift/gift-background-mobile@1x.png") 1x type("image/png"),
    url("../../images/gift/gift-background-mobile@2x.png") 2x type("image/png"));
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 290px;
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: $text-color-tertiary;
  text-align: center;
  padding: 187px 60px 0;
}
