.logo {
  align-items: center;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

// .logo__img {}
.logo__text {
  transform: translate(30px);

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    transform: none;
  }
}
