// .main-nav {}
// .main-nav__toggle {}
.main-nav__list {
  @include list-reset;
}
// .main-nav__item {}
.main-nav__link {
  @include font-custom($font-secondary, 20px, 400, 20px, $text-color-secondary);
  text-transform: uppercase;
  text-decoration: none;
}
// .main-nav__link--current {}
