.program {
  background-color: $bg-color-secondary;
  position: relative;
  padding: 30px 33px 18px 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
  }

  &::before {
    width: 50px;
    height: 50px;
    background-color: $bg-color-basic;
    border-radius: 50%;
    top: 20px;
  }

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding: 77px 52px 53px;

    &::before {
      width: 200px;
      height: 211px;
      top: 81px;
      right: 63px;
    }
  }
}

.program--slim::after {
  background-image: url("../../icons/stack.svg#cat-slim");
  width: 36px;
  height: 50px;
  top: 15px;
  left: 28px;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 140px;
    height: 194px;
    top: 81px;
    right: 93px;
    left: auto;
  }
}

.program--pro::after {
  background-image: url("../../icons/stack.svg#cat-pro");
  width: 67px;
  height: 28px;
  top: 30px;
  left: 10px;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 268px;
    height: 112px;
    top: 135px;
    right: 29px;
    left: auto;
  }
}

.program__title {
  @include font-custom($font-secondary, 24px, 400, 37px, $text-color-secondary);
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    @include font-custom($font-secondary, 36px, 400, 36px, $text-color-secondary);
    margin-right: 316px;
    padding-left: 0;
  }
}

.program__description {
  border-bottom: 1px solid #d9d9d9;
  padding: 22px 0;
  margin: 7px 0 15px;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    @include font-custom($font-primary, 16px, 400, 24px, $text-color-secondary);
    padding-left: 0;
    margin-right: 387px;
    border-bottom: none;
  }
}

.program__link {
  @include font-custom($font-secondary, 16px, 400, 16px, $text-color-secondary);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;

  &::after {
    content: "";
    background-image: url("../../icons/stack.svg#arrow");
    background-size: 24px 10px;
    background-repeat: no-repeat;
    width: 32px;
    height: 10px;
    transition: background-size 0.3s ease-in-out;
  }

  &:hover::after,
  &:focus-visible::after {
    background-size: 32px 10px;
  }

  &:active::after {
    background-size: 32px 10px;
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    @include font-custom($font-secondary, 20px, 400, 30px, $text-color-secondary);
    padding-left: 0;
    gap: 25px;
  }
}

// .program--slim {}
// .program--pro {}
