.programs {
  padding: 0 20px;
}

.programs__list {
  @include list-reset;
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    margin-bottom: 30px;
  }
}
