.program {
  background-color: $bg-color-secondary;
  position: relative;
  padding: 30px 33px 18px 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
  }

  &::before {
    width: 50px;
    height: 50px;
    background-color: $bg-color-basic;
    border-radius: 50%;
    top: 20px;
  }
}

.program--slim::after {
  background-image: url("../../icons/stack.svg#cat-slim");
  width: 36px;
  height: 50px;
  top: 15px;
  left: 28px;
}

.program--pro::after {
  background-image: url("../../icons/stack.svg#cat-pro");
  width: 67px;
  height: 28px;
  top: 30px;
  left: 10px;
}

.program__title {
  @include font-custom($font-secondary, 24px, 400, 37px, $text-color-secondary);
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
}

.program__description {
  border-bottom: 1px solid #d9d9d9;
  padding: 22px 0;
  margin: 7px 0 15px;
}

.program__link {
  @include font-custom($font-secondary, 16px, 400, 16px, $text-color-secondary);
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../icons/stack.svg#arrow");
    width: 24px;
    height: 10px;
    bottom: 23px;
    left: 130px;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after,
  &:focus-visible::after {
    width: 32px;
  }

  &:active::after {
    width: 32px;
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }
}

// .program--slim {}
// .program--pro {}
