// .results {}
// .results__item {}
.results__value {
  @include font-custom($font-secondary, 24px, 400, 24px, $text-color-secondary);
  text-transform: uppercase;
}

.results__description {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
}
