.slider {
  display: grid;
  grid-template-columns: 50% 50%;
}

.slider__thumb {
  position: absolute;
}

.slider__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.slider__image--before {
  object-position: left;
}

.slider__image--after {
  object-position: right;
}
