.subscription {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding: 80px 68px;
  }
}

.subscription__title {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    margin-bottom: 66px;
  }
}

.subscription__text {
  @include font-custom($font-secondary, 16px, 400, 24px, $text-color-secondary);

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    @include font-custom($font-secondary, 24px, 400, 32px, $text-color-secondary);
    margin: 0 auto 24px;
    text-align: center;
    max-width: 600px;
  }
}
// .subscription__form {}
