.subscription-form {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
  }
}
// .subscription-form__field {}
// .subscription-form__button {}
